.product_import_tree_view .o_data_cell,
.product_import_tree_view .o_list_record_selector,
.product_import_tree_view .o_field_cell,
.product_import_tree_view .o_column_sortable,
.product_import_tree_view .table-sm,
.product_import_tree_view .o_data_cell button, /* Targeting buttons specifically */
.product_import_tree_view .o_list_button button,
.product_import_tree_view th {
  font-size: 0.75em; /* Ensuring buttons and text have the same font size */
  padding-top: 0.5em !important;
  padding-bottom: 0 !important;
}

.product_import_tree_view .form-check {
  min-height: 0.25em; /* Adjusted for consistency */
}

/* Small width */
.product_import_tree_view th[data-name="image_1_url"],
.product_import_tree_view th[data-name="manufacturer_barcode"],
.product_import_tree_view th[data-name="weight"],
.product_import_tree_view th[data-name="price"],
.product_import_tree_view th[data-name="cost"],
.product_import_tree_view th[data-name="quantity"],
.product_import_tree_view th[data-name="image_upload"], {
  width: 5em !important;
  max-width: 5em !important;
}

/* Medium width */
.product_import_tree_view [name="mpn"] {
  min-width: 50px;
  max-width: 75px;
}


.product_import_tree_view [name="default_code"] {
  min-width: 55px;
  max-width: 55px;
}

