.o_motor_part_missing_column {
  width: 1px;
  min-width: 80px;
}


.motor_image_adder .o_field_image button {
  width: 100px !important;
  height: 100px !important;
}

.motor_image_adder .o_field_image button .fa {
  font-size: 75px;
}

