$o-brand-odoo: #E65938;
$o-brand-primary: #1071B6;

.large-toggle .o_boolean_toggle {
  transform: scale(1.5);
  transform-origin: left center;
}

.o_spacer_column {
  width: 100%;
}

.sc_refresh_button_row {
  width: 10px;
}

.sc_full_width {
  width: 100%;
}

.o_list_open_form_view {
  width: 40px !important;
}

.o_selection_badge.btn-reset {
  padding: 0.1rem 0.25rem;
  font-size: 0.5rem;
}

.o_form_view .o_form_sheet_bg, .o_form_view .o_form_sheet {
  width: 100%; /* Ensures no additional padding or margin within form view */
  max-width: none; /* Removes any max-width restrictions */
}

.o_list_view .text-nowrap {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  max-width: 200px; /* Adjust this value as needed */
}